/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

header{
    background: #3c763d;
}
.main-sec1{
    float: left;
    width: 100%;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}
.navbar-nav {
    margin: 0 auto !important;
    text-align: center !important;
}
.logo-img{
    width: 100px;
    text-align: center;
    padding: 5px;
}
.carousel-inner>.item>img {
    line-height: 1;
    width: 100%;
}
.navbar-default{
    background: #ffffff !important;
    border: 0 !important;
    margin-top: 100px;
    position: absolute;
    left: 0;
    right: 0;
}
.navbar {
    border-radius: 0px !important;
    min-height: inherit;
    margin-bottom: 0px;
}
.m-s-img{
    padding-right: 15px;
}
.sec-list h4{
    font-size: 16px;
}
.sec-list img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.custom-list-group-item{
    height: 70px;
    width: 32%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
}
.msg-img{
    padding-right: 15px;
    width: 190px;
    text-align: center;
    margin: 0 auto;
}
.custom2-list-group{
    height: 29px;
}
.custom2-list-group-item{
    width: 100%;

}
.custom2-list-group-item img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 15px;
}
.custom2-list-group-item h4{
    font-size: 16px;
}
.site-header {
    height: 148px;
}
.logo {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    margin: 0 auto;
    width: 150px;
    padding: 5px;
}
.logo span {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    background: #3c763d;
    font-size: 26px;
    color: #fff;
    border-radius: 0 0 50px 50px;
    z-index: 2;
}
.header-lr {
    position: absolute;
    left: 0;
    right: 0;
    color: #ccc;
}
.txt-align-r{
    text-align: right;
}
.txt-align-l{
    text-align: left;
}
.p-l-15{
    padding-left: 15px;
}
.p-r-15{
    padding-right: 15px;
}


section.myfooter {
    background: #3c763d;
    color: #eee;
    padding: 50px 0;
}
section.myfooter a{
    color: #eee;
}
.footer-bottom{
    padding: 25px 0;
    background: #000;
    margin: 0;
    color: #999;
}
.copyright{
    margin: 0px;
    font-size: 12px;
}
.copyright a{
    color: #ccc;
}